html {
    font-family: Clarity City,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Roboto,Ubuntu,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 90%;
}

body {
    background: #ddd;
    margin: 50px;
}

main {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1)
}

a, a:visited {
    color: #E6E6E6;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

h1, h2, h3 {
    margin: 0.5rem 0;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
}

.content {
    background: #fff;
    padding: 50px 400px 50px 50px;
}

.sidebar {
    background: #007DCE;
    color: #D7EAF8;
    height: 100%;
    position: absolute;
    right: 0;
    width: 350px;
}

.sidebar img {
    border: 3px solid #D7EAF8;
    border-radius: 500px;
    display: block;
    margin: 0 auto;
    width: 150px;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
}

.sidebar header {
    background: #0064B5;
    padding: 15px;
    text-align: center;
}

.sidebar .details {
    background: #007DCE;
    
}

.sidebar .details ul {
    list-style-type: none;
    padding: 0;
}

.sidebar .details ul li {
    padding-top: .25rem;
}

.sidebar .details {
    padding: 10px 30px;
}

.sidebar .details i {
    padding: 0 5px 0 0;
}

.sidebar .details li {
    line-height: 2em;
}

.sidebar .details ul {
    margin-bottom: 3rem;
}

ul.experiences {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    width: 100%;
}

ul.experiences h3 {
    display: inline-block;
    margin: 0;
}

ul.experiences span {
    float: right;
}

ul.experiences .header span,
ul.experiences .employer {
    color: #999;
}

.accomplishments {
    list-style-type: square;
    margin: 0.25rem 0 1.25rem 0;
    padding: 0 100px 0 20px;
}

.accomplishments li {
    padding: .25rem 0 0 0;
}

/* iPhone 6SE */
@media (max-width: 414px) {
    body {
        margin: 5px;
    }

    .sidebar {
        position: static;
        width: inherit;
    }

    .content {
        padding: 30px;
    }

    .experiences .header span {
        display: block;
        float: none;
    }

    .accomplishments {
        padding: 0 0 0 20px;
    }
}

/* iPad Air */
@media (min-width: 414px) and (max-width: 820px) {
    body {
        margin: 5px;
    }

    .sidebar {
        position: static;
        width: inherit;
    }

    .sidebar .details-wrapper {
        display: flex;
    }

    .sidebar .details {
        flex: 1;
    }

    .content {
        padding: 30px;
    }

    .accomplishments {
        padding: 0 0 0 20px;
    }
}
